body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > * {
    /* all children of body (in this case all the flex items inside the body flex) */
    /* line below just to see the boxes of each children of body */
    border: solid black 2px;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.left {
    color: #F9FAF8;
    font-size: 24px;
    display: flex; 
    align-items: center;
}

.right {
    display: flex;
    gap: 16px;
}


.up1 {
    display: flex;
    background-color: #1f2937;
    flex: 1;
}

.up2, .imgtxt{
    display: flex;
    flex-direction: column;
}

.imgs-and-txt{
    display: flex;
}

.up2 > *{
    border: solid blue 2px;
}

.smallim{
    border: 1px solid #3882F6;
    /* rounded border */
    border-radius: 8px;
}

/* remove underline from links, dots from list */

ul {
    list-style-type: none;
  }
  
  a{ 
    text-decoration: none; 
    color: #e5e7eb;
    font-size: 18px;
  } 