body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > * {
    /* all children of body (in this case all the flex items inside the body flex) */
    /* line below just to see the boxes of each children of body */
    padding: 0 10px;
    flex: 1; 
}

.header, .footer {
    flex: 0;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.footer{
    justify-content: center;
    padding: 2px 0px;
}

.left {
    color: #F9FAF8;
    font-size: 24px;
    display: flex; 
    align-items: center;
}

.right {
    display: flex;
    gap: 16px;
}


.up1 {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    /* padding left and right auto to follow the same as the rest of the body */
    padding: 2em auto;
}

.left-top, .right-top{
    /* all children from up1 */
    border: solid purple 1px;
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2{
 text-align: center;
 font-size: 36px;
 font-weight: 900;
 color: #1f2937;
}

.sign-up1{
    /* button on the top */
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 30px;
    font-weight: bold;
    color: #f9faf8;
    border: none;
}

.sign-up2{
    /* button at the bottom */
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 30px;
    color: #f9faf8;
    border: solid white 2px;
}

.up2, .imgtxt{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.up2 {
    padding: 0 60px;
}


.imgs-and-txt{
    display: flex;
}

.imgs-and-txt p {
    /* Targetting only the p inside this section */
    color: #1f2937;
}


.smallim{
    border: 2px solid #3882F6;
    /* rounded border */
    border-radius: 8px;
}

.middle {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 60px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.down {
 background-color: #3882F6;
 margin: 40px;
 padding: 20px 40px;
 border-radius: 4px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.call{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
}

p{
    color: #e5e7eb;
}

/* remove underline from links, dots from list */

ul {
    list-style-type: none;
  }
  
  a{ 
    text-decoration: none; 
    color: #e5e7eb;
    font-size: 18px;
  } 