body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

body > * {
    /* all children of body (in this case all the flex items inside the body flex) */
    /* line below just to see the boxes of each children of body */
    border: solid black 2px;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.left {
    color: #F9FAF8;
    font-size: 24px;
    display: flex; 
    align-items: center;
}

.right {
    display: flex;
    gap: 16px;
}


.up1 {
    align-self: center;
    display: flex;
}


/* remove underline from links, dots from list */

ul {
    list-style-type: none;
  }
  
  a{ 
    text-decoration: none; 
    color: #e5e7eb;
    font-size: 18px;
  } 